/* GBLOBALES */
h1 {
  color: #ffffff;
  margin: 15px 0;
  font-weight: 700;
  border-bottom: 1px solid #dbdce4; }

body {
  text-align: center; }

span {
  font-size: 23px; }

.sombra {
  box-shadow: 0px 5px 20px 0px black; }

.logotipo {
  width: 100px; }

.navbar-nav a {
  color: #ffffff; }

.text {
  background: linear-gradient(-45deg, #2e2e9d, #30ac94, #fd991d, #fd29d5, #36fc7f, #cdfc45);
  background-size: 300%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -5px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 6s ease-in-out infinite;
  -moz-animation: animated_text 6s ease-in-out infinite;
  -webkit-animation: animated_text 6s ease-in-out infinite; }

@keyframes animated_text {
  0% {
    background-position: 0px 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0px 50%; } }

body {
  background-color: #131315; }

/* MAPAS*/
/* contenedor */
.contenedor {
  background-color: #000000e3;
  border-radius: 16px;
  color: #f1f1f1;
  padding: 2rem;
  max-width: 80%;
  margin: 50px auto;
  border-color: #ffffff;
  border-top-style: ridge;
  border-bottom-style: ridge; }
  .contenedor h2 {
    color: #4f859b;
    margin-bottom: 40px; }

/* mixin footer*/
footer {
  font-size: 12px;
  color: #ffffff; }

.redes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px; }

/* MAPS */
/* BUCLE */
.btn--twitter {
  background-color: #61b0c4;
  border-radius: 10px;
  width: 40px; }

.btn--instagram {
  background-color: #ffff;
  border-radius: 10px;
  width: 40px; }

.btn--whatsapp {
  background-color: #75f764;
  border-radius: 10px;
  width: 40px; }

.card {
  margin: 10px auto;
  width: 350px;
  height: 612px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(223, 0, 255, 0.25);
  border-radius: 25px;
  transition: transform 0.8s;
  transform-style: preserve-3d; }
  .card h1 {
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 400; }
  .card p {
    color: #e9e9e9;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5%; }
  .card span {
    color: #DB9EDF;
    margin-top: 25%; }

.text_back {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  background: #131315;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 25px 25px; }

.text_back div {
  width: 85%;
  margin: auto; }

.image_container {
  width: 100%;
  height: 50%;
  border-radius: 25px 25px 0px 0px;
  background: url(../img/PC1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; }

.card:hover {
  transform: rotateY(180deg); }

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.flip-card-back {
  background-color: #19191A;
  color: white;
  transform: rotateY(180deg); }

/* Index Header */
.hero {
  background-image: url(../img/5073414.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  max-width: 100%;
  height: 800px; }

.contenido-hero {
  color: #ebebeb;
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.contenido {
  width: 600px;
  margin: 0 auto; }

/* Servicios */
.servicios {
  display: block; }

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .servicio h3 {
    font-size: 20px;
    color: #f8f8f8;
    text-decoration: underline;
    margin-bottom: 30px; }
  .servicio p {
    line-height: 2;
    font-size: 12px;
    width: 100%; }

.icono {
  height: 70px;
  width: 70px;
  background-color: #243658;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Precios */
.tdatos {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }
  .tdatos table {
    border: solid 1px #ffffff;
    color: white;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse; }
  .tdatos thead {
    background-color: #a0afca; }
  .tdatos th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase; }
  .tdatos td {
    padding: 15px;
    border-bottom: solid 1px #ffff; }
  .tdatos tbody {
    background-color: #252525; }

/* UBICACION */
.mapa {
  margin: 0 auto;
  max-width: 90%; }

/* DATOS */
.datos {
  display: block; }

/* Contacto */
.campo {
  margin: 1rem;
  display: block; }
  .campo label {
    display: block;
    color: #abb2b9;
    font-size: 12px; }
  .campo textarea {
    height: 200px;
    width: 100%;
    border-radius: 5px;
    border-style: dashed; }
  .campo input {
    font-size: 12px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-style: dashed; }

.formulario,
.ubicacion {
  background-color: #333333;
  border-radius: 16px;
  color: #abb2b9;
  max-width: 100%; }

.boton, .botonborrar {
  text-decoration: none;
  padding: 1.3em 3em;
  margin: 10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: black;
  background-color: #c4c9c3;
  border: none;
  border-radius: 45px;
  cursor: pointer; }

.botonborrar {
  background-color: #801919; }

/* MEDIAS */
@media (min-width: 768px) {
  .formulario {
    max-width: 100%; }
  .datos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; }
  .campo input,
  .campo label {
    font-size: 18px; }
  .tabla th,
  td {
    font-size: 18px; }
  .servicios p {
    font-size: 18px;
    width: 70%; }
  .servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem; }
  .contenedor {
    max-width: 80%; }
  .text {
    font-size: 80px; }
  .cards {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; } }

@media (min-width: 1200px) {
  .cards {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; } }
