/* GBLOBALES */

h1 {
    color: #ffffff;
}

body {
    text-align: center;
}

span {
    font-size: 23px;
}

.sombra {
    box-shadow: 0px 5px 20px 0px rgb(0, 0, 0);
}

.logotipo {
    width: 300px;
}

.navbar-nav a {
    color: #ffffff;
}