$epoca: normal;
body {
    @if $epoca==navidad {
        background-image: url(../img/navidad.jpg);
        background-size: cover;
        h1 {
            color: rgb(245, 245, 245);
        }
    }
    @if $epoca==halloween {
        background-image: url(../img/halloween.jpg);
        background-size: cover;
        h1 {
            color: rgb(145, 35, 35);
        }
    }
    @else {
        background-color: #131315;
    }
}


/* MAPAS*/


/* contenedor */

$estilos:( colorin: #000000e3, radio: 16px, fuente-color: #f1f1f1, padding: 2rem, width: 80%, margen: 50px auto, color-borde: #ffffff, borde-estilo: ridge, );
.contenedor {
    background-color: map-get($estilos, colorin);
    border-radius: map-get($estilos, radio);
    color: map-get($estilos, fuente-color);
    padding: map-get($estilos, padding);
    max-width: map-get($estilos, width);
    margin: map-get($estilos, margen);
    border-color: map-get($estilos, color-borde);
    border-top-style: map-get($estilos, borde-estilo);
    border-bottom-style: map-get($estilos, borde-estilo);
    h2 {
        color: #4f859b;
        margin-bottom: 40px;
    }
    svg {
        height: 60px;
    }
}


/* mixin footer*/

@mixin footer($fuente, $colorfuente) {
    font-size: $fuente;
    color: $colorfuente;
}

footer {
    @include footer(12px, #ffffff);
}